*{
    box-sizing: border-box;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

article{
    border: solid;
    width: 20%;
    margin: 5px;
    padding: 5px;
}